<div>
  <a class="menu__item" href="{{@blog.url}}" title="Back to top">
    <svg class="link__icon back-menu"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-left"></use></svg>
  </a>
</div>
